<app-header></app-header>

<div class="full-width-banner">
    <img src="https://cmsv2.yame.vn/uploads/fbaa7448-8d6c-4394-a0d2-937ca72a7e8f/Balo-%c4%91%e1%ba%a1i-h%e1%ba%a1-gi%c3%a1-1500x1500.jpg"
        alt="Banner Image" class="banner-img">
</div>
<div class="container">
    <div class="content">
        <h3>Balo đại hạ giá</h3>
    </div>
    <div class="card-group">
        <div class="card mx-2">
            <img src="https://cdn2.yame.vn/pimg/tui-eo-daily-y-nguyen-ban-m1-0022279/74962d2d-7c42-4800-eb5c-001ad5b73558.jpg"
                class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-footer text-center">
                <small class="text-muted">
                    <s class="price number">197</s><span class="text-danger number">99</span>
                </small>
            </div>
        </div>
        <div class="card mx-2">
            <img src="https://cdn2.yame.vn/pimg/balo-daily-khoi-nguyen-13-0022702/c5175893-b298-0200-c1c1-001abd705bcf.jpg"
                class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-footer text-center">
                <small class="text-muted">
                    <s class="price number">197</s><span class="text-danger number">158</span>
                </small>
            </div>
        </div>
        <div class="card mx-2">
            <img src="https://cdn2.yame.vn/pimg/pktt-khan-y2010-m8-0021865/9eca971d-3a59-b900-f4ad-001a235f2048.jpg"
                class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-footer text-center">
                <small class="text-muted">
                    <s class="price number">297</s><span class="text-danger number">119</span>
                </small>
            </div>
        </div>
        <div class="card mx-2">
            <img src="https://cdn2.yame.vn/pimg/balo-daily-nguyen-ban-m8-0022813/7e9c85d6-5969-0100-d4c0-001ada7fee23.jpg"
                class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-footer text-center">
                <small class="text-muted">
                    <s class="price number">457</s><span class="text-danger number">274</span>
                </small>
            </div>
        </div>
    </div>
    <div class="container d-flex align-items-end justify-content-end">
        <button type="button" class="btn btn-dark mt-1" data-mdb-ripple-init>Xem thêm các sản phẩm khác</button>
    </div>

</div>
<div class="full-width-banner">
    <img src="https://cmsv2.yame.vn/uploads/1c0fc784-b4ac-4fec-ab5d-fe99b4afa63f/2.jpg" alt="Banner Image"
        class="banner-img">
</div>
<div class="container">
    <div class="content">
        <h3>MỞ BÁN - SALE 20%</h3>
    </div>
    <div class="card-group">
        <div class="card mx-2">
            <img src="https://cdn2.yame.vn/pimg/ao-khoac-khong-non-vai-denim-thoang-mat-tron-dang-rong-on-gian-premium-73-0023073/37a4c54b-b4d2-4901-e360-001af9b64af4.jpg?w=540&h=756"
                class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-footer text-center">
                <small class="text-muted">
                    <s class="price number">197</s><span class="text-danger number">99</span>
                </small>
            </div>
        </div>
        <div class="card mx-2">
            <img src="https://cdn2.yame.vn/pimg/ao-thun-co-tron-tay-dai-vai-cotton-4-chieu-thoang-mat-tron-dang-vua-on-gian-no-style-98-0022936/e0edf318-9403-1f00-77c3-001af9b16d5e.jpg?w=540&h=756&c=true"
                class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-footer text-center">
                <small class="text-muted">
                    <s class="price number">197</s><span class="text-danger number">158</span>
                </small>
            </div>
        </div>
        <div class="card mx-2">
            <img src="https://cdn2.yame.vn/pimg/quan-short-lung-gai-duoi-goi-vai-denim-co-gian-tron-dang-vua-on-gian-premium-59-0022873/a2483856-e200-b600-3c3e-001af9b37104.jpg?w=540&h=756&c=true"
                class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-footer text-center">
                <small class="text-muted">
                    <s class="price number">297</s><span class="text-danger number">119</span>
                </small>
            </div>
        </div>
        <div class="card mx-2">
            <img src="https://cdn2.yame.vn/pimg/quan-short-lung-thun-tren-goi-vai-denim-co-gian-tron-dang-rong-on-gian-premium-65-0022953/322c575c-4317-e300-8631-001af9b423dd.jpg?w=540&h=756&c=true"
                class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-footer text-center">
                <small class="text-muted">
                    <s class="price number">457</s><span class="text-danger number">274</span>
                </small>
            </div>
        </div>
    </div>
    <div class="container d-flex align-items-end justify-content-end">
        <button type="button" class="btn btn-dark mt-1" data-mdb-ripple-init>Xem thêm các sản phẩm khác</button>
    </div>

</div>
<div class="full-width-banner">
    <img src="https://cmsv2.yame.vn/uploads/e58d37a3-6149-490a-b8ab-4142018a66e4/Banner_sale_G%c4%90G.jpg?quality=80&w=0&h=0"
        alt="Banner Image" class="banner-img">
</div>
<div class="container">
    <div class="content">
        <h3>SĂN SALE GU ĐƠN GIẢN 20%</h3>
    </div>
    <div class="card-group">
        <div class="card mx-2">
            <img src="https://cdn2.yame.vn/pimg/quan-dai-vai-y1-m28-0022189/94e49f7f-2631-2000-f25e-001a79182298.jpg?w=540&h=756"
                class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-footer text-center">
                <small class="text-muted">
                    <s class="price number">197</s><span class="text-danger number">99</span>
                </small>
            </div>
        </div>
        <div class="card mx-2">
            <img src="https://cdn2.yame.vn/pimg/quan-tay-y2010-hg10-0019773/d6f1f14f-c76d-2300-871d-0018b9fac57b.jpg?w=540&h=756&c=true"
                class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-footer text-center">
                <small class="text-muted">
                    <s class="price number">197</s><span class="text-danger number">158</span>
                </small>
            </div>
        </div>
        <div class="card mx-2">
            <img src="https://cdn2.yame.vn/pimg/tui-eo-daily-y-nguyen-ban-m1-0022279/5d2911c7-8e3b-4700-7da9-001ad5b73555.jpg?w=540&h=756&c=true"
                class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-footer text-center">
                <small class="text-muted">
                    <s class="price number">297</s><span class="text-danger number">119</span>
                </small>
            </div>
        </div>
        <div class="card mx-2">
            <img src="https://cdn2.yame.vn/pimg/quan-tay-toi-gian-m3-0021221/ca28bb92-f7de-ab00-b68f-001947f78a4e.jpg?w=540&h=756&c=true"
                class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-footer text-center">
                <small class="text-muted">
                    <s class="price number">457</s><span class="text-danger number">274</span>
                </small>
            </div>
        </div>
    </div>
    <div class="card-group mt-2">
        <div class="card mx-2">
            <img src="https://cdn2.yame.vn/pimg/quan-tay-y2010-hg11-0019800/7bd5b09d-962d-3700-0544-0018b9fbbef1.jpg?w=540&h=756"
                class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-footer text-center">
                <small class="text-muted">
                    <s class="price number">197</s><span class="text-danger number">99</span>
                </small>
            </div>
        </div>
        <div class="card mx-2">
            <img src="https://cdn2.yame.vn/pimg/ao-thun-co-tru-toi-gian-m4-0020885/4b3b8c6d-6670-8700-bd00-001936b1e0ae.jpg?w=540&h=756&c=true"
                class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-footer text-center">
                <small class="text-muted">
                    <s class="price number">197</s><span class="text-danger number">158</span>
                </small>
            </div>
        </div>
        <div class="card mx-2">
            <img src="https://cdn2.yame.vn/pimg/quan-jean-slimfit-than-co-ai-poseidon-ver1-0021595/75e9a834-3f46-1000-a607-0019bb7b385c.jpg?w=540&h=756&c=true"
                class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-footer text-center">
                <small class="text-muted">
                    <s class="price number">297</s><span class="text-danger number">119</span>
                </small>
            </div>
        </div>
        <div class="card mx-2">
            <img src="https://cdn2.yame.vn/pimg/quan-tay-toi-gian-m3-0021221/ca28bb92-f7de-ab00-b68f-001947f78a4e.jpg?w=540&h=756"
                class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-footer text-center">
                <small class="text-muted">
                    <s class="price number">457</s><span class="text-danger number">274</span>
                </small>
            </div>
        </div>
    </div>
    <div class="container d-flex align-items-end justify-content-end">
        <button type="button" class="btn btn-dark mt-1" data-mdb-ripple-init>Xem thêm các sản phẩm khác</button>
    </div>

</div>

<app-footer></app-footer>