<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Sửa thể loại</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="close()"></button>
            </div>
            <hr>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row p-3 pt-2">
                        <label for="name" class="form-label">Tên thể loại</label>
                        <input id="name" type="text" formControlName="name" class="form-control">

                    </div>
                    <div class="row px-3">

                        <div class="col d-flex">
                            <label for="status" class="form-label col-3 pt-2">Trạng thái</label>
                            <select id="status" formControlName="status" class="form-control col-9">
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                            </select>
                        </div>

                    </div>
                    <hr>
                    <div class="modal-footer pt-2">
                        <button type="button" class="btn btn-secondary" (click)="close()"
                            data-bs-dismiss="modal">Đóng</button>
                        <span>&nbsp;</span>
                        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Lưu</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>